Repository heckj/swift-docs, changes with the owners that CODEOWNERS names for each.
All owners: @heckj, @shahmishal, @swiftlang/language-steering-group, @swiftlang/platform-steering-group, @swiftlang/server-workgroup, @swiftlang/cxx-interop-workgroup

seeing what I can do with converting API guidelines
  APIGuides.docc/DocComment.md
  APIGuides.docc/Documentation.md
Owners: @swiftlang/language-steering-group

revised API guidelines prototype conversion
  APIGuides.docc/DocComment.md
  APIGuides.docc/Documentation.md
  APIGuides.docc/include-words-to-avoid-ambiguity.md
  APIGuides.docc/name-according-to-roles.md
  APIGuides.docc/omit-needless-words.md
  APIGuides.docc/weak-type-information.md
Owners: @swiftlang/language-steering-group

commenting in WIP
  APIGuides.docc/Documentation.md
Owners: @swiftlang/language-steering-group

refinement
  README.md
  notes/Pitch.md
Owners: @heckj, @shahmishal

typo
  README.md
Owners: @heckj, @shahmishal

rewording
  notes/Pitch.md
Owners: @heckj, @shahmishal

quick port of the cxx interop guides as examples
  InteropGuides.docc/Documentation.md
  InteropGuides.docc/cxx-interop-status.md
  InteropGuides.docc/cxx-interop.md
  InteropGuides.docc/project-build-setup.md
  InteropGuides.docc/wrapping-c-cpp-library-in-swift.md
  README.md
Owners: @swiftlang/cxx-interop-workgroup, @heckj, @shahmishal

CODEOWNERS:

# The following lines are used by GitHub to automatically recommend reviewers.

* @heckj @shahmishal

/APIGuides.docc/* @swiftlang/language-steering-group
/ToolGuides.docc/* @swiftlang/platform-steering-group
/ServerGuides.docc/* @swiftlang/server-workgroup
/SwiftLangGuides.docc/* @swiftlang/language-steering-group
/InteropGuides.docc/* @swiftlang/cxx-interop-workgroup
